.font_20 {
  font-size: 20px;
}

.width_fit_content {
  width: fit-content;
}

.text_opacity_light_black:hover {
  opacity: 0.7;
}

.bg_opacity_light_black:hover {
  opacity: 0.75;
}

.bg_white_transparent {
  background: rgba(247, 247, 248, 0.85);
  backdrop-filter: blur(10px);
}

.light_gray_bg_1 {
  background-color: rgb(239, 239, 240);
}

.pseudo_arrow::after {
  content: "↗";
  font-style: normal;
  margin-left: 3px;
  font-weight: 700;
  font-family: IconsAI;
}

::selection {
  background-color: black;
  color: white;
}

/* Bootstrap manipulation */
.accordion {
  --bs-accordion-border-radius: 0;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  --bs-accordion-border-width: none !important;
  --bs-accordion-inner-border-radius: 0;
}

.accordion-button {
  background-color: rgb(239, 239, 240) !important;
  color: rgb(33, 37, 41) !important;
  border-top: 1px solid #cecece !important;
  box-shadow: none !important;
}

.accordion-button.border_bottom {
  border-bottom: 1px solid #cecece !important;
}
