@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Bengali&display=swap');

:root {
    --first-color: #27133D;
    --second-color: #A424FF;
    --third-color: #8809E3;
    --fourth-color: #859600;
    --fifth-color: #7C3FC2;
    --text-primary: #171717;
    --text-secondary: #292827;


    --matt-black: #171717;
    --flamingo-1: #FF3F3B;
    --flamingo-2: #F28585;
    --flamingo-3: #F24452;
    --flamingo-4: #DB324F;
    --flamingo-5: #FF3B6C;
}

/* Flamingo Color Theme Swatches in Hex */
.flamingo-1 {
    color: #FF3F3B;
}

.flamingo-2 {
    color: #F28585;
}

.flamingo-3 {
    color: #F24452;
}

.flamingo-4 {
    color: #DB324F;
}

.flamingo-5 {
    color: #FF3B6C;
}

.bold {
    font-weight: bold;
}

body {
    margin: 0;
    font-family: Inter, 'Noto Sans Bengali', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    scroll-behavior: smooth;
    margin: 0;
    background-color: #fff;
}

code {
    font-family: 'Cascadia Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}


a {
    /* font-family: 'Open Sans', 'Noto Sans Bengali', sans-serif; */
    font-style: normal;
    text-decoration: none;
    color: var(--fourth-color);
}

a:hover {
    color: var(--flamingo-4);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-primary);
}

p {
    color: var(--text-secondary);
}

/* img {
    height: 100%;
    width: 100%;
} */

.scrollbar-custom::-webkit-scrollbar-track {

    border-radius: 0;
    background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: none;
    /* width: 0;
    background-color: transparent; */

}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: var(--matt-black);
    display: auto;
}

@media screen and (max-width: 600px) {}

.top-bar {
    height: 10px;
    width: 100%;
    top: 0;
    position: absolute;
    background-color: #fff;
}

mt-3 {
    margin-top: 20px;
}

.header {
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 10px;
    height: 48px;
    width: 100%;
    width: -moz-available;
    padding: 0 5vw;
    box-sizing: border-box;
    overflow: hidden;
    /* display: flex;
    flex-flow: row wrap;
    align-content: center; */
}

.header-logo {
    max-height: 100%;
    height: 40px;
    width: 40px;
}

.header>a {
    color: #1b1a19;
    text-decoration: none !important;
}

.header .divider {
    height: 30px;
    width: 3px;
    background-color: black;
    align-self: center;
    margin: 0 1vw;
}

.header .links {
    color: #1b1a19;
    align-self: center;
}

header .links>a {
    color: #1b1a19;
    /* font-weight: 600; */
    font-size: large;
    margin: 0 5px;
}

.header>.account {
    color: #1b1a19;
    align-self: center;
    margin-left: auto;
}

header .account>a {
    color: #1b1a19;
    /* font-weight: 600; */
    font-size: large;
    margin: 0 5px;
}

.bottom-bar {
    height: 10px;
    width: 100%;
    /* position: relative; */
    background-color: var(--flamingo-4);
}

.footer {
    /* bottom: 10px; */
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    width: -moz-available;
    box-sizing: border-box;
    background-color: #1b1a19;
    text-align: center;
    overflow: hidden;
    margin-top: 50px;
    padding-top: 15px;
}

.footer>p {
    color: #edebe9;
}

.footer .links {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

footer .links>a {
    margin: 0 5px;
    color: #8764b8;
}

.container {
    margin-top: 80px;
    margin-bottom: 15px;
}

.main {
    top: 58px;
    position: relative;
    padding: 15px 10px;
    overflow: hidden;
    height: 100%;
    height: fit-content;
    display: inline-block;
    scroll-behavior: auto;
    padding: 3vh 10vw;
    min-height: 71vh;
}



@media only screen and (max-width: 600px) {
    .img_center {
        width: 100%;
    }

    .header {
        flex-flow: column;
        height: auto;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
    }

    .main {
        top: auto;
        position: relative;
        padding: 0 6vw;

    }

    .links {
        margin-left: auto;
        margin-right: auto;
    }

    .account {
        margin-left: auto;
        margin-right: auto;
    }

    .header .divider {
        display: none;
    }
}

.anchor-button {
    outline: none;
    cursor: pointer;
    border: 0;
    border-radius: 3px;
    padding: 12px;
}

.anchor-button:hover {
    background-color: #e1dfdd;
}

.anchor-button>a {
    color: #1b1a19;
    font-weight: 600;
}




.p-cursor {
    /* position: fixed;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 250;
    contain: layout style size;
    will-change: transform;
    transition: opacity 0.3s ease, top 0.4s ease; */
    /* transition: opacity .3s, color .4s; */


    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.9);

    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    contain: layout style size;
    pointer-events: none;
    will-change: transform;
    transition: left 0.2s cubic-bezier(0.25, 0.13, 0.25, 1), top 0.2s cubic-bezier(0.25, 0.1, 0.25, 0.13);
    /* transition: left 0.25s ease-in-out, top 0.25s ease-in-out, width 0.1s ease-out, height 0.1s ease-out; */


}

@media only screen and (max-width: 600px) {
    .p-cursor {
        display: none;
    }
}


.bar-100 {
    width: 100%;
    height: 5px;
    background-color: var(--flamingo-5);
}


/*-------------------*/
/*----TEXT STYLES----*/
/*-------------------*/

.fs-6vmax {
    font-size: 5vmax;
}


.fs-1-5rem {
    font-size: 1.5rem;
    line-height: 2.5rem;
}


/*-------------------*/
/*--TEXT STYLES END--*/
/*-------------------*/


/*-------------------*/
/*-------Margin------*/
/*-------------------*/


.m-5vmax {
    margin: 5vmax;
}

.mt-5vmax {
    margin-top: 5vmax;
}

.mb-5vmax {
    margin-bottom: 5vmax;
}

.ms-5vmax {
    margin-left: 5vmax;
}

.me-5vmax {
    margin-right: 5vmax;
}


.m-20vmax {
    margin: 20vmax;
}

.mt-20vmax {
    margin-top: 18vmax;
}

.mb-20vmax {
    margin-bottom: 20vmax;
}

.ms-20vmax {
    margin-left: 20vmax;
}

.me-20vmax {
    margin-right: 20vmax;
}