@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Inter', sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(39, 1, 1, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(68, 1, 1, 0.7);
}

/* Background Dimming */
#target-section .bg-opacity-50 {
  background-color: rgba(94, 94, 94, 0.7) !important;
}

.pipable:after {
  content: "";
  position: absolute;
  height: 10px;
  width: 1px;
  background-color: var(--footer-pipe-color);
  margin: 3px 0
}

.font-cal-sans {
  font-family: "Cal Sans", sans-serif !important;
}

.font-inter {
  font-family: "Inter", sans-serif !important;
}

h1 {
  font-family: "Cal Sans";
  font-size: 56px;
}

h2 {
  font-family: "Cal Sans";
  font-size: 40px;
  letter-spacing: 0.01em;
}

h3 {
  font-family: "Cal Sans";
  font-size: 36px;
  letter-spacing: 0.015em;
}

h4 {
  font-family: "Cal Sans";
  font-size: 28px;
  letter-spacing: 0.02em;
}

h5 {
  font-family: "Cal Sans";
  font-size: 20px;
  letter-spacing: 0.03em;
}

h6 {
  font-family: "Cal Sans";
  font-size: 16px;
  letter-spacing: 0.04em;
}

.bold-xl {
  @apply font-bold text-xl;
}

.bold-2xl {
  @apply font-bold text-2xl;
}

.bold-3xl {
  @apply font-bold text-3xl;
}



.bold-4xl {
  @apply font-bold text-4xl;
}



.bold-8xl {
  @apply font-bold text-8xl;
}


.bd-flag-text {
  @apply bg-gradient-to-r from-[#006a4e] to-[#f42a41] text-transparent bg-clip-text;
}

.product-card {
  @apply bg-white flex flex-col rounded-lg shadow-md p-3 border border-gray-100;
}

.brand-icon-28 {
  @apply h-28 w-auto;
}