.minheight7rem {
  min-height: 7rem;
}

.search_input {
  font-size: 1.2rem;
  min-width: 350px;
  outline: none;
}

.font1_1 {
  font-size: 1.1rem;
}

.border_bottom {
  border-bottom: 1px solid #d8d8d8;
}

/* carbon fiber bg */
.carbon_effect_bg {
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}
