.font_20 {
  font-size: 20px;
}

.font_18 {
  font-size: 18px;
}

.font_0_88rem {
  font-size: 0.88rem;
}

.font_1_5rem {
  font-size: 1.5rem;
}

.width_fit_content {
  width: fit-content;
}

.text_opacity_light_black:hover {
  opacity: 0.7;
}

.bg_opacity_light_black:hover {
  opacity: 0.75;
}

.bg_white_transparent {
  background: rgba(247, 247, 248, 0.85);
  backdrop-filter: blur(10px);
}

.bg_white {
  background: rgb(247, 247, 248);
}

.light_gray_bg_1 {
  background-color: rgb(239, 239, 240);
}

.light_gray_bg_2 {
  background-color: rgb(228, 228, 230);
}

.pseudo_arrow::after {
  content: "↗";
  font-style: normal;
  margin-left: 3px;
  font-weight: 700;
  font-family: IconsAI;
}

.pseudo_arrow_down::after {
  content: "↓";
  font-style: normal;
  margin-left: 3px;
  font-weight: 700;
  font-family: IconsAI;
}

.section-heading-font-family {
  font-family: "Noto Serif", serif;
}

@media (min-width: 1080px) {
  .accordion-container {
    width: 680px;
  }
}

table tbody tr:nth-child(odd) {
  background-color: rgb(228, 228, 230);
}

table tbody tr:nth-child(odd) td:first-child {
  border-right: 2px solid rgb(239, 239, 240);
}

.table_header_font {
  font-size: 1rem;
  font-weight: bold;
}

.text-hover-black:hover {
  color: #000000 !important;
}

.get-started {
  font-size: 2.2rem;
  max-width: 680px;
}

::selection {
  background-color: black;
  color: white;
}

/* Bootstrap manipulation */
#a_accordion {
  --bs-accordion-border-radius: 0 !important;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
  --bs-accordion-border-width: none !important;
  --bs-accordion-inner-border-radius: 0 !important;
}

#a_accordion-button {
  background-color: rgb(239, 239, 240) !important;
  color: rgb(33, 37, 41) !important;
  border-top: 1px solid #cecece !important;
  box-shadow: none !important;
}

.ai_border_bottom {
  border-bottom: 1px solid #cecece !important;
}
