.custom-pagination li{
    padding: 10px 17px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.28px;
    color: #F0F7FF;
}

.custom-pagination .selected{
    color: #000B33;
    background-color: #F0F7FF;
}

.custom-pagination{
    position: relative;
    padding-top: 20px;
    border-top: 1px solid transparent;
    border-image-source: linear-gradient(90deg, rgba(244, 222, 200, 0) 0%, rgba(244, 222, 200, 0.5) 100%);
    border-image-slice: 1;
}

.custom-pagination .previous{
    padding: 0;
    position: absolute;
    left: 0;
}

.custom-pagination .next{
    padding: 0;
    position: absolute;
    right: 0;
}